body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
}
.btn{
    font-size: 12px;
    float: inline-end;
}
.nav-item{
    margin-left: 20px;
}
.nav-btn1{
   margin-left: 70px;
   width: 100px;
}
.nav-btn2{
    background-color: #40128B;
    color: white;
    width: 100px;
}
.nav-btn2:hover{
    background-color: #4E31AA;
    color: white;
}
/*----------------------------------------------------------------intro */
#intro {
    margin-top: 50px;
}
#intro h1{
    text-align: center;
    width: 30%;
    margin: auto;
  font-weight: 600;
}
#intro p{
    text-align: center;
    width: 40%;
    margin: auto;
}
.play-icon{
    font-size: 16px;
    text-align: center;
}
.intro-btn{
    text-align: center;
    margin-top: 50px;
}
.intro-btn1{
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px 30px;
}
.intro-btn1:hover{
    background-color: rgb(45, 44, 44);
}
.intro-btn2{
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: darkgrey 5px 0px 10px;
   border: none;
   padding: 10px 20px;
}
.intro-btn2:hover{
    background-color:#FAF3F0;
}
.intro-btn2 i{
    font-size: 17px;
    margin-right: 5px;
}
.img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    grid-auto-rows: 400px;
}
.img-grid-item1{
   grid-column: 1;
   grid-row: 1;
}
.img-grid-item2{
    grid-column: 2;
    grid-row: 1;
 }
.img-grid-item3{
    grid-column: 1;
    grid-row: 2;
 }
 .img-grid-item4{
    grid-column: 2;
    grid-row: 2;
 }
 .details1-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    margin-left: 30px;
    margin-top: 150px;
 }
 .material-symbols-outlined{
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: whitesmoke;
    color: #00FFCA;
    padding: 6px;
    margin-right: 20px;
 }

 .detail-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
 }
 .details1 p{
    margin-bottom: 30px;
 }
 .details-btn{
    margin-left: 30px;
    background-color: #00FFCA;
    color: white;
    border-radius: 50px;
    border: none;
    padding:10px 10px 10px 10px;
    width: 130px;
    margin-bottom: 100px;
 }
 .details-btn:hover{
    background-color: #28DF99;
 }
 .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 80px;
    right: 50px;
    grid-auto-rows: 220px;
    position: absolute;
    top: 1400px;
    width: 700px;
 }
 .details2{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:#00FFCA;
    padding: 20px;
 }
 .chat-icon{
    font-size: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    color: #00FFCA;
    padding: 5px;
 }
 .title1{
    font-weight: 600;
    margin-top: 20px;
    color: white;
 }
 .details2 p{
    width: 85%;
    color: white;
    font-size: 12px;
 }
.alt-icon1{
   font-size: 20px;
   display: inline-block;
}
.view1{
   margin-bottom: 15px;
}
.details3{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:#d9faf0;
    padding: 20px;
 }
 .details3 .material-symbols-outlined{
    font-size: 20px;
    border: 1px solid #00FFCA;
    background-color:#00FFCA;
    border-radius: 100px;
    color: whitesmoke;
    padding: 5px;
 }
 .title2{
    font-weight: 600;
    margin-top: 20px;
    color: black;
 }
 .details3 p{
    width: 85%;
    color: black;
    font-size: 12px;
 }
.alt-icon2{
    font-size: 20px;
}
.details4{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:#d9faf0;
    padding: 20px;
 }
 .chat-icon1{
    font-size: 20px;
    border: 1px solid #00FFCA;
    background-color:#00FFCA;
    border-radius: 100px;
    color: whitesmoke;
    padding: 5px;
 }
 .title3{
    font-weight: 600;
    margin-top: 20px;
    color: black;
 }
 .details4 p{
    width: 85%;
    color: black;
    font-size: 12px;
 }
.alt-icon3{
    font-size: 20px;
    
}
.details5{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:#d9faf0;
    padding: 20px;
 }
 .chat-icon2{
    font-size: 20px;
    border: 1px solid #00FFCA;
    background-color:#00FFCA;
    border-radius: 100px;
    color: whitesmoke;
    padding: 5px;
 }
 .title4{
    font-weight: 600;
    margin-top: 20px;
    color: black;
 }
 .details5 p{
    width: 90%;
    color: black;
    font-size: 12px;
 }
.alt-icon4{
    font-size: 20px;
}
.waitlist{
   margin-top: 100px;
   margin-right: 40px;
   margin-left: 40px;
   margin-bottom: 50px;
   height: 400px;
   background-color: #FAF0D7;
   border-radius: 10px;
}
.waitlist-item{
   margin: auto;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 70px;
}
.waitlist-icon{
   font-size: 15px;
   color: white;
   background-color: #F29727;
   margin-bottom: 20px;
}
.waitlist-heading{
   font-weight: 600;
   margin-bottom: 20px;
}
.waitlist-title{
   width: 50%;
   margin: auto;
}
.waitlist-btn{
   border-radius: 50px;
   width: 200px;
   padding: 10px;
   margin-top: 30px;
   background-color:#F29727;
   border: none;
   color: white;
}

.waitlist-btn:hover{
   background-color: #F1C27B;
   color: black;
}
.clients{
   margin: auto;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 70px;
}
.chat-icon3{
   background-color: #E8E2E2;
   border-radius: 50px;
   padding: 8px;
   color: #FF52A2;
   margin-bottom: 20px;
   margin-right: 10px;
}
.clients-heading{
   font-weight: 600;
   margin-bottom: 30px;
}
.clients-title{
   margin-bottom: 70px;
}
.cube-icon{
   font-size: 60px;
   color: darkgray;
   margin-left: 400px;
   margin-right: 50px;
}
.fig-icon{
   font-size: 60px;
   color: darkgray;
   margin-left: 50px;
   margin-right: 400px;
}
.sketch-icon{
   font-size: 60px;
   color: darkgray;
   margin-left: 50px;
   margin-right: 50px;
}
.slack-icon{
   font-size: 60px;
   color: darkgray;
   margin-left: 50px;
   margin-right: 50px;
}
.cloud-icon{
   font-size: 60px;
   color: darkgray;
   margin-left: 50px;
   margin-right: 50px;
}
.clients-btn{
   border-radius: 50px;
   width: 200px;
   padding: 10px;
   margin-top: 50px;
   background-color:#FF52A2;
   border: none;
   color: white;
}
.clients-btn:hover{
   background-color: #FF80D0;
   color: black;
}
.pricing-item{
   display: flex;
   flex-direction: column;
   margin-left: 30px;
   margin-top: 100px;
}
.client-intro{
   margin-bottom: 15px;
}
.chat-icon4{
   background-color: #C9EEFF;
   padding: 8px;
   border-radius: 50px;
   margin-right: 15px;
}
.simple{
   font-weight: 600;
   margin-bottom: 15px;
}
.simple-title{
   width: 30%;
}
.pricing-btn{
   border-radius: 50px;
   width: 200px;
   border: none;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 150px;
   background-color:#00C4FF;
   color: white;
}
.pricing-btn:hover{
   background-color: #5A96E3;
}
.plan-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
}
.Free-plan{
   grid-column: 1;
   grid-row: 1;
   background-color: #00C4FF;
   border-radius: 10px;
   padding: 15px;
   width: 350px;
   height: 400px;
   position: absolute;
   top: 2980px;
   left: 700px;
}
.plan-heading{
   font-weight: 600;
   margin-bottom: 40px;
   margin-top: 15px;
   color: white;
   font-size: 25px;
}
.plan-amt{
   color: white;
   margin-bottom: 40px;
}
.first{
   color: white;
}
.second{
   color: white;
}
.Premium-plan{
   grid-column: 2;
   grid-row: 1;
   background-color: #C9EEFF;
   border-radius: 10px;
   padding: 15px;
   width: 350px;
   height: 400px;
   position: absolute;
   top: 3000px;
   left: 1080px;
}
.premium-heading{
   font-weight: 600;
   margin-bottom: 40px;
   margin-top: 15px;
   color: #00C4FF;
   font-size: 25px;
}
.premium-amt{
   margin-bottom: 40px;
}
.premium-icon{
   color:#00C4FF;
}
.feature{
   margin-top: 40px;
   margin-left: 30px;
   margin-right: 30px;
}
.feature-detail1{
   margin: auto;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 70px;
}
.feature-intro{
   margin-bottom: 20px;
}
.store-icon{
   border-radius: 50px;
   padding: 10px;
   background-color: #DEFCF9;
   color: #00FFCA;
   margin-right: 15px;
}
.feature-heading{
   font-weight: 600;
   margin-bottom: 15px;
   font-size: 30px;
}
.feature-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 70px;
   margin-top: 10px;
   margin-bottom: 40px;
   margin-left: 60px;
   margin-right: 60px;
}
.grid1{
   margin: auto;
   text-align: center;
   padding-top: 80px;
   padding-bottom: 70px;
   border-radius:10px;
   background-color:#DEFCF9;
}
.convo-icon{
   border-radius: 50px;
   font-size: 25px;
   padding: 20px;
   background-color: #00FFCA;
   color: white;
}
.grid1-heading{
   font-size: 15px;
   font-weight: 600;
   margin-top: 30px;
}
.para1{
   width: 60%;
   margin: auto;
   font-size: 11px;
}
.grid1-btn{
   border-radius: 50px;
   width: 200px;
   padding: 10px;
   margin-top: 40px;
   background-color:#00FFCA;
   border: none;
   color: white;
}
.grid1-btn:hover{
   background-color: #0EA293;
}
.grid2{
   grid-column: 2;
   margin: auto;
   text-align: center;
   padding-bottom: 70px;
   border-radius:10px;
}
.clip-icon{
   border-radius: 50px;
   font-size: 25px;
   padding: 20px;
   background-color:#DEFCF9;
   color: #00FFCA;
}
.grid2-heading{
   font-size: 15px;
   font-weight: 600;
   margin-top: 30px;
}
.para2{
   width: 60%;
   margin: auto;
   font-size: 11px;
}
.grid3{
   margin: auto;
   text-align: center;
   padding-bottom: 70px;
   border-radius:10px;
}
.grid-icon{
   border-radius: 50px;
   font-size: 25px;
   padding: 20px;
   background-color: #DEFCF9;
   color:#00FFCA;
}
.grid3-heading{
   font-size: 15px;
   font-weight: 600;
   margin-top: 30px;
}
.para3{
   width: 60%;
   margin: auto;
   font-size: 11px;
}
.work-detail1{
   display: flex;
   flex-direction: column;
   margin-left: 30px;
   margin-top: 100px;
}
.work-intro{
   margin-bottom: 20px;
}
.house-icon{
   background-color: #FAF0E4;
   padding: 10px;
   border-radius: 50px;
   color: #F1C27B;
   margin-right: 15px;
}
.work-heading{
   font-weight: 600;
   margin-bottom: 15px;
}
.work-title{
   width: 40%;
}
.work-detail2{
   position: absolute;
   top: 4380px;
   right: 30px;
}
.left-icon{
   background-color: #FAF0E4;
   color: #F1C27B;
   font-size: 20px;
   border-radius: 50px;
   padding: 10px;
}
.left-icon:hover{
   background-color: #F1C27B;
   color: white;
}
.right-icon{
   background-color: #F1C27B;
   color: white;
   font-size: 20px;
   border-radius: 50px;
   padding: 10px;
}
.right-icon:hover{
   background-color: #FAF0E4;
   color: #F1C27B;
}
.work-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 20px;
   row-gap: 20px;
   margin-top: 25px;
   margin-bottom: 20px;
   grid-auto-rows: 300px;
}
.work-grid1{
   grid-column: 1;
   grid-row: 1/3;
}
.work-grid1 img{
   width: 470px;
   height: 620px;
   border-radius: 15px;
   margin-left: 30px;
}
.work-grid2{
   grid-column: 2;
   grid-row: 1;
}
.work-grid2 img{
   width: 475px;
   height: 300px;
   border-radius: 15px;
}
.work-grid3{
   grid-column: 3;
   grid-row: 1;
}
.work-grid3 img{
   width: 475px;
   height: 300px;
   border-radius: 15px;
   margin-right: 30px;
}
.work-grid4{
   grid-column: 2/4;
   grid-row: 2;
}
.work-grid4 img{
   width: 970px;
   height: 300px;
   border-radius: 15px;
}
.feedback-detail1{
   margin: auto;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 50px;
}
.chat-icon5{
   background-color: #E8E2E2;
   border-radius: 50px;
   padding: 8px;
   color: #FF52A2;
   margin-bottom: 20px;
   margin-right: 10px;
}
.feedback-heading{
   font-weight: 600;
}
.feedback-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 30px;
}
.feedback-grid1{
   grid-column: 1;
   grid-row: 1;
   height: 450px;
   margin: auto;
   text-align: center;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 50px;
}
.feedback-grid1 img{
   border-radius: 50px;
   border:2px solid #FF52A2 ;
}
.feedback-heading{
   font-size: 17px;
   margin-top: 30px;
}
.feedback-title{
   width: 70%;
   margin: auto;
}
.feedback-grid2{
   grid-column: 2;
   grid-row: 1;
   height: 450px;
   margin: auto;
   text-align: center;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 50px;
   background-color: #E8E2E2;
   border-radius: 15px;
}
.feedback-grid2 img{
   border-radius: 50px;
   border:2px solid #FF52A2 ;
}
.feedback-btn{
   border-radius: 50px;
   width: 200px;
   padding: 10px;
   margin-top: 40px;
   background-color: #FF52A2;
   border: none;
   color: white;
}
.feedback-btn:hover{
   background-color: #FF80D0;
   color: black;
}
.feedback-grid3{
   grid-column: 3;
   grid-row: 1;
   height: 450px;
   margin: auto;
   text-align: center;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 50px;
}
.feedback-grid3 img{
   border-radius: 50px;
   border:2px solid #FF52A2 ;
}
.team-detail{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 20px;
   margin-top: 100px;
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 30px;
}
.team-detail1{
   border-radius: 15px;
   background-color: #00C4FF;
   height: 350px;
   padding: 40px;
}
.chat-icon6{
   background-color: white;
   color: #00C4FF;
   border-radius: 50px;
   padding: 10px;
   margin-right: 15px;
   margin-bottom: 20px;
}
.team-title{
   color: white;
   width: 70%;
}
.team-detail2{
   border-radius: 15px;
   background-image:url(/images/taylor.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.team-title1{
   position: relative;
   top: 260px;
   padding-left: 20px;
}
.team-detail3{
   border-radius: 15px;
   background-image:url(/images/felipe.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.faq-detail{
   margin-left: 300px;
   margin-right: 300px;
   margin-top: 80px;
}
.faq-detail1{
   margin: auto;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 50px;
}
.message-icon{
   background-color: #DEFCF9;
   color:#00FFCA;
   border-radius: 50px;
   padding: 10px;
   margin-right: 15px;
}
.faq-heading{
   font-weight: 600;
}
.faq-detail2{
   background-color:#DEFCF9;
   padding: 30px 30px;
   border-radius: 10px;
}
.up-icon{
   background-color: #00FFCA;
   border-radius: 50px;
   padding: 10px;
   color: white;
   margin-right: 15px;
   font-size: 20px;
}
.up-icon:hover{
   background-color:#57C5B6;
   color: white;
}
.faq-drawdown1{
   margin-bottom: 20px;
}
.faq1{
   font-size: 14px;
   margin-left: 55px;
}
.faq-detail3{
   padding: 30px 30px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.down-icon{
   background-color: #DEFCF9;
   color: #00FFCA;
   border-radius: 50px;
   padding: 10px;
   font-size: 20px;
   margin-right: 15px;
}
.faq-detail4{
   padding: 30px 30px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.faq-detail5{
   padding: 30px 30px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.footer{
   background-color: black;
   color: white;
   margin-top: 100px;
   padding: 50px 60px 80px 60px;
}
.footer-detail1{
   display: flex;
   flex-direction: column;
   position: relative;
}
.footer-heading{
   font-size: 25px;
   margin-bottom: 30px;
}
.footer-para{
   width: 358px;
   margin-bottom: 30px;
}
.footer-icons{
   cursor: pointer;
}
.twitter-icon{
   background-color: #4E31AA;
   color: white;
   border-radius: 50px;
   padding: 10px;
   font-size: 20px;
}
.linkedin-icon{
   background-color: #4E31AA;
   color: white;
   border-radius: 50px;
   padding: 10px;
   font-size: 20px;
}
.facebook-icon{
   background-color: #4E31AA;
   color: white;
   border-radius: 50px;
   padding: 10px;
   font-size: 20px;
}
.instagram-icon{
   background-color: #4E31AA;
   color: white;
   border-radius: 50px;
   padding: 10px;
   font-size: 20px;
}
.footer-detail2{
   position: absolute;
   right: 700px;
   top: 7320px;
}
.footer-links1 a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: white;
}
.footer-links1 a:hover{
   color: #C9EEFF;
}
.links-heading{
   margin-bottom: 30px;
}
.home{
   margin-bottom: 15px;
}
.About{
   margin-bottom: 15px;
}
.Features{
   margin-bottom: 15px;
}
.Team{
   margin-bottom: 15px;
}
.footer-detail3{
   position: absolute;
   right: 400px;
   top: 7320px;
}
.footer-links2 a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: white;
}
.footer-links2 a:hover{
   color: #C9EEFF;
}
.links-heading{
   margin-bottom: 30px;
}
.Privacy{
   margin-bottom: 15px;
}
.Terms{
   margin-bottom: 15px;
}
.Refunds{
   margin-bottom: 15px;
}
.Contact{
   margin-bottom: 15px;
}
.footer-detail4{
   position: absolute;
   right: 200px;
   top: 7320px;
}
.footer-links3 a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: white;
}
.footer-links3 a:hover{
   color: #C9EEFF;
}
.links-heading{
   margin-bottom: 30px;
}
.Pricing{
   margin-bottom: 15px;
}
.Change{
   margin-bottom: 15px;
}
.Blog{
   margin-bottom: 15px;
}
